/* Whole document: */
body{
  font-family: Helvetica;
  font-size: 12pt;
  font-weight: 525;
}

h1 {
  font-size: 14pt;
  font-style: bold;
}
h1.title {
  font-size: 10pt;
}
h2 {
  font-size: 12pt;
}
h3 {
  font-size: 10pt;
}
h4 {
  font-size: 10pt;
}
h5 {
  font-size: 8pt;
}
h6 {
  font-size: 8pt;
}
img {
    display: block;
    margin: auto;
}

img-circle {
    border-radius: 50%;
}



